body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 60px;
    background: #1a1818; 
    color: white; 
}

h1, h2 {
    color: white; 
    text-align: center;
}

form {
    max-width: 700px;
    height: 400px;
    margin: 0 auto;
    padding: 30px;
    background: rgba(34, 32, 32, 0.6); 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    text-align: center;
}

form input, form button {
    width: 80%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

form input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

button {
    background: #e0b06b; 
    color: #333;
    cursor: pointer;
    font-weight: bold;
    border: none;
    transition: background 0.3s ease;
}

button:hover {
    background: #b47d3d; 
}

#mensagem {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    color: #d69841; 
}

#listaReservas {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    list-style: none;
    background: #222; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

#listaReservas li {
    background: #333;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    border-left: 5px solid #b47d3d; 
    font-size: 16px;
}


.botao-admin {
    display: block; 
    width: 250px; 
    margin: 50px auto; 
    padding: 15px 20px;
    background-color: #b47d3d;
    color: #131212; 
    font-weight: bold;
    text-align: center;
    text-decoration: none; 
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao-admin:hover {
    background-color: #a06c30;
}